<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<nav class="cool"></nav>    
<main</main>
<article>
    <ul>
        <li>Lorem, ipsum.</li>
        <li>Voluptates, aliquid.</li>
        <li>Unde, velit.</li>
        <li>Dolorem, animi.</li>
        <li>Perspiciatis, quas?</li>
    </ul>
</article>
</body>
</html>