<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/profile.css" />
    <title>User Profile</title>
  </head>
  <body>
    <header>
      <nav>
        <h1>Fastbeetech</h1>
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section id="profile-section">
        <aside>
          <div class="title">
            <input type="hidden" value="" />
            <h2>Profile</h2>
            <span id="status">Not Active</span>
          </div>
          <div class="profile-img">
            <img src="/img/nopics.jpg" alt=" " id="photo" class="pics" />
            <button class="upload-btn">
              <input
                type="file"
                name="photo"
                class="upload"
                id="photo"
                hidden
              />
              Upload Image
            </button>
            <p class="upload_progress" hidden>Error uploading image</p>
          </div>
          <div class="info">
            <div class="info-group">
              <div>Last Updated</div>
              <time datetime="yyyy-mm-dd" id="updated_at"
                >18, october 2021 at 3:25pm</time
              >
            </div>
            <div class="info-group">
              <div>Account ID</div>
              <span id="account_id">asdfg-gjhjg-09965</span>
            </div>
            <div class="info-group">
              <div>Profile ID</div>
              <span id="profile_id">asdfg-gjhjg-09965</span>
            </div>
            <div class="info-group">
              <div>Account</div>
              <a href="#logout" id="logoutUser">Logout</a>
              <a href="#delete" id="deleteProfile">Delete</a>
            </div>
          </div>
        </aside>
        <!-- Profile data area -- main section -->
        <main>
          <div class="container">
            <div class="profile-data">
              <div class="detail-group1">
                <div class="group-1">
                  <h3>Name</h3>
                  <div id="username"></div>
                </div>
                <div class="group-1">
                  <h3>Email</h3>
                  <div id="email"></div>
                </div>
              </div>
              <div class="detail-group1">
                <div class="group-1">
                  <h3>Phone</h3>
                  <div style="margin: 5px">
                    <input
                      type="tel"
                      placeholder="e.g 2348102307473"
                      class="form-control"
                      id="phone"
                    />
                  </div>
                </div>
                <div class="group-1">
                  <h3>Occupation</h3>
                  <div style="margin: 5px">
                    <input
                      type="text"
                      placeholder="e.g Software Developer"
                      class="form-control"
                      id="occupation"
                    />
                  </div>
                </div>
              </div>
              <div class="detail-group1">
                <div class="group-1">
                  <h3>Location</h3>
                  <div style="margin: 5px">
                    <input
                      type="text"
                      placeholder="e.g Lagos"
                      class="form-control"
                      id="location"
                    />
                  </div>
                </div>
                <div class="group-1">
                  <h3>Address</h3>
                  <div style="margin: 5px">
                    <textarea
                      id="address"
                      class="form-control"
                      autocapitalize="true"
                      name="address"
                      cols="30"
                      rows="5"
                      placeholder="e.g 14, Fawole Street"
                    >
                    </textarea>
                  </div>
                </div>
              </div>
            </div>

            <div class="profile-update">
              <div class="detail-group2">
                <div class="group-2">
                  <span> Secured Area </span>
                  <span> Change </span>
                </div>
                <!-- <div class="line-break"></div> -->
                <hr />
                <div class="form">
                  <div class="form-group">
                    <button class="btn-update" id="btn-update">
                      Update Profile
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </section>
    </main>
    <footer></footer>
    <script src="/js/profile.js"></script>
  </body>
</html>
