<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/register.css">
    <script src="/js/register.js" async></script>
    <title>User Registration</title>
  </head>
  <body>
    <header>
      <h2 class="info-text">Register to have Access</h2>
    </header>
    <main>
      <form id="register">
        <div class="form-group">
          <label for="">Name</label>
          <input type="text" name="name" id="name" class="form-control" />
        </div>
        <div class="form-group">
          <label for="">Email</label>
          <input type="email" name="email" id="email" class="form-control" />
        </div>
        <div class="form-group">
          <label for="">Password</label>
          <input type="password" name="password" id="password" class="form-control" />
        </div>
        <div class="form-group">
          <label for="">confirm Password</label>
          <input type="password" name="cpassword" id="cpassword"  value="" class="form-control" />
        </div>
        <div class="form-group">
          <button>Register</button>
          <p style="text-align: center">Click Here to <a href="login.html">Login</a></p>
        </div>
      </form>
    </main>
    <footer></footer>
  </body>
</html>
