body {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
    visibility: none;
}
.visible {
    display: inline-block;
    visibility: visible;
    font-size: 18px;
}

.error{
    color: red;
    background: rgb(224, 201, 201);
    border: 1px solid red;
    padding:10px;
    text-align: center;
    width: 50%;
    margin: auto;
}
.success{
    color: green;
    background: rgb(212, 241, 218);
    border: 1px solid green;
    padding: 10px;
    text-align: center;
    width: 50%;
    margin: auto;
}
@media screen and (min-width: 780px) {
    body {
        padding: 0;
        margin: 0;
    }
    
    main{
        width: 100%;
    }
    form {
        display: flex;
        justify-content: center;
        max-width: 50%;
        margin: auto;
        flex-direction: column;
        align-items: center;
    }
    .info-text {
        text-align: center;
    }
    .form-group {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px auto;
        box-sizing: border-box;
    }
    
    .form-control {
        display : block;
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
    }
    
    button {
        display: block;
        width: 100%;
        padding: 10px;
        margin: 10px auto;
        color: rgb(253, 243, 253);
        background:  rgb(167, 46, 167);
        box-sizing: border-box;
        outline: none;
        border: none;
        box-shadow: 1px 0 0 1px rgb(87, 74, 87)
    }
    
}
@media screen and (min-width: 320px) and (max-width: 750px) { 
    body {
        padding: 0;
        margin: 0;
    }
    
    main{
        width: 100%;
    }
    form {
        display: block;
        margin: auto;
        max-width: 90%;
        width: 100%;
        padding: 5px auto;
        box-sizing: border-box;
    }
    .info-text {
        text-align: center;
    }
    .form-group {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px auto;
        box-sizing: border-box;
    }
    
    .form-control {
        display : block;
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
    }
    
    button {
        display: block;
        width: 100%;
        padding: 10px;
        margin: 10px auto;
        color: rgb(253, 243, 253);
        background:  rgb(167, 46, 167);
        box-sizing: border-box;
        outline: none;
        border: none;
        box-shadow: 1px 0 0 1px rgb(87, 74, 87)
    }
    
}
